@font-face {
    font-family: "Gotham-Book";
    src: url("../fonts/Gotham Book.otf")
}

@font-face {
    font-family: "Gotham-Bold";
    src: url("../fonts/GOTHAM-BOLD.OTF"), url("../fonts/GOTHAM-BOLD.TTF")
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("../fonts/Poppins-Bold.ttf")
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("../fonts/Poppins-Regular.ttf")
}

body {
    margin: 0px;
}

.header {
    padding: 50px;
    background: #021120;
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.header-logo__img {
    width: 160px;
}

.header-nav-link {
    font-family: "Gotham-Book";
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    padding: 20px 0px;
    margin: 0px 30px;
}

.header-nav-link:hover::after,
.header-nav-link.active::after {
    content: '';
    position: absolute;
    left: 0px;
    width: 100%;
    bottom: 0px;
    height: 4px;
    background: linear-gradient(to right, #E90D5F, #FF8820);
}

.header-nav-link-round {
    font-family: "Gotham-Book";
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #ffffff;
}

.home-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.home-section::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.mw-750 {
    max-width: 750px;
    margin: auto;
}

.mw-350 {
    max-width: 350px;
    margin: auto;
}

.home-section-content {
    text-align: center;
    position: relative;
    width: 60%;
    margin: auto;
}

#home_section_impact .home-section__img {
    width: 300px;
}

h1 {
    font-size: 60px;
    color: #ffffff;
    margin: 0px;
    font-family: "Poppins-Bold";
    letter-spacing: 3px;
}

h6 {
    font-size: 26px;
    color: #ffffff;
    margin: 0px;
    font-family: "Poppins-Regular";
    letter-spacing: 7px;
}

p {
    color: #ffffff;
    font-family: "Gotham-Book";
    font-size: 14px;
    line-height: 2;
}

h6 small {
    font-size: 18px;
    vertical-align: middle;
}

#home_section_impact {
    background-image: url(../img/home-bg-impact.png);
}

#home_section_impact::before {
    background: #021120;
    opacity: .9;
}

#home_section_impact .home-section-content {
    max-width: 500px;
}

#home_section_impact .fa-chevron-down {
    color: #ffffff;
    font-size: 30px;
}

.page-home .header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    background: transparent;
}

.page-home .header-logo-link {
    visibility: hidden;
}

#home_section_healthy_living {
    background-image: url(../img/home-bg-healthy-living.png);
}

#home_section_healthy_living::before {
    background: linear-gradient(to right, #BF007A, #012197);
    opacity: .9;
}

.btn-round {
    cursor: pointer;
    border-radius: 30px;
    padding: 5px 10px;
    font-family: "Gotham-Book";
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
}

.btn-round:hover {
    text-decoration: none;
}

.btn-learn-more {
    border: 1px solid #ffffff;
    color: #ffffff;
}

.home-section-expand {
    margin-top: 50px;
}

#home_section_educational {
    background-image: url(../img/home-bg-educational.png);
}

#home_section_educational::before {
    background: linear-gradient(to right, #E90D5F, #FF8820);
    opacity: .9;
}

#home_section_placemaking {
    background-image: url(../img/home-bg-placemaking.png);
}

#home_section_placemaking::before {
    background: linear-gradient(to right, #810090, #E90D5F);
    opacity: .9;
}

#home_section_economic {
    background-image: url(../img/home-bg-impact.png);
}

#home_section_economic::before {
    background: linear-gradient(to right, #FE5341, #F6BA00);
    opacity: .9;
}

.footer {
    padding-top: 50px;
    padding-bottom: 30px;
}

.footer-logo__img {
    width: 150px;
}

.footer-wrap {
    text-align: center;
}

.footer-socials {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-social-link {
    text-decoration: none;
    margin: 10px;
}

.footer-social-link i {
    color: #C8C8C8;
    font-size: 26px;
}

.footer-text {
    color: #021120;
    font-family: "Gotham-Book";
    font-size: 14px;
}

.page-hero-section {
    position: relative;
    padding-top: 50px;
    padding-bottom: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page-hero-section::before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.page-hero-section-content {
    position: relative;
    text-align: center;
}

#page_hero_section_about {
    background-image: url(../img/home-bg-healthy-living.png);
}

#page_hero_section_about::before {
    background: linear-gradient(to right, #810090, #E90D5F);
    opacity: .9;
}

.page-about-content-general {
    padding-bottom: 50px;
}

.page-about-content-general p {
    color: #021120;
}

.page-content-wrap {
    width: 80%;
    margin: auto;
}

.page-about-content-general img.right {
    float: right;
}

.page-about-content-general img {
    width: 350px;
    margin-left: 30px;
}

.btn-get-involved {
    border: 1px solid #021120;
    color: #021120;
}

.page-about-content-partners {
    text-align: center;
    padding-top: 50px;
    border-top: 1px solid #C8C8C8;
    padding-bottom: 50px;
}

.page-about-content-partners h6 {
    font-family: "Gotham-Bold";
    font-size: 20px;
    color: #000000;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.page-about-content-partners-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.page-about-content-partner-wrap {
    width: 14%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-about-content-partner-wrap img {
    width: 100%;
}

.page-about-content-committee {
    text-align: center;
    padding-top: 50px;
    border-top: 1px solid #C8C8C8;
}

.page-about-content-committee h6 {
    font-family: "Gotham-Bold";
    font-size: 20px;
    color: #000000;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.page-about-content-committee-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.page-about-content-committee-name {
    display: inline-block;
    margin: 5px;
}

.page-content {
    background: linear-gradient(to bottom, #ffffff, #F4F4F4);
    padding-top: 50px;
    padding-bottom: 80px;
}

#page_hero_section_projects {
    background-image: url(../img/home-bg-healthy-living.png);
}

#page_hero_section_projects::before {
    background: linear-gradient(to right, #E90D5F, #FF8820);
    opacity: .9;
}

.project-category-tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.project-category-tab {
    display: inline-block;
    font-family: "Gotham-Book";
    font-size: 12px;
    color: #C8C8C8;
    cursor: pointer;
    padding: 10px 15px;
    border-bottom: 1px solid #C8C8C8;
    flex-grow: 1;
    text-align: center;
}

.project-category-tab.active,
.project-category-tab:hover {
    color: #021120;
    border-bottom: 1px solid #021120;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
}

.project-wrap {
    width: calc(33.33% - 45px);
    background: #EFEFEF;
    padding: 5px;
    cursor: pointer;
    margin: 15px;
    text-decoration: none;
}

.project__img {
    width: 100%;
}

.project__title {
    font-family: "Poppins-Bold";
    font-size: 18px;
    padding-left: 10px;
    text-decoration: none;
    color: #021120;
}

.project-wrap-get-involved {
    width: calc(33.33% - 45px);
    background: #EFEFEF;
    padding: 5px;
    cursor: pointer;
    margin: 15px;
    position: relative;
    background-image: url(../img/home-bg-educational.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-wrap-get-involved::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #E90D5F, #FF8820);
    opacity: .9;
}

.project-wrap-get-involved-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.project-wrap-get-involved-small {
    font-family: "Poppins-Regular";
    font-size: 20px;
    margin: 0px;
}

.project-wrap-get-involved-big {
    font-family: "Poppins-Bold";
    font-size: 30px;
    margin: 0px;
    line-height: 30px;
}

.project-category-tab-content {
    display: none;
}

.project-category-tab-content.active {
    display: block;
}

.link-back {
    font-family: "Gotham-Book";
    color: #021120;
    font-size: 14px;
    text-decoration: none;
}

.single-project-title {
    font-family: "Poppins-Bold";
    color:  #021120;
    letter-spacing: 3px;
    font-size: 50px;
    margin-bottom: 30px;
}

.page-single-project-content-general p {
    color: #021120;
}

.page-single-project-content-general img {
    width: 350px;
    margin-left: 30px;
}

.page-single-project-content-general img.right {
    float: right;
}

#page_hero_section_get_involved {
    background-image: url(../img/home-bg-healthy-living.png);
}

#page_hero_section_get_involved::before {
    background: linear-gradient(to right, #810090, #E90D5F);
    opacity: .9;
}

.form-row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    flex-wrap: wrap;
}

.form-col {
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0px 15px;
    box-sizing: border-box;
}

.form-col-4 {
    width: 25%;
}

.form-col-3 {
    width: 33.33%;
}

.form-col-1 {
    width: 100%;
}

.form-group {
    margin-bottom:  15px;
}

.form-group label {
    font-family: "Poppins-Bold";
    color: #021120;
    font-size: 14px;   
}

.form-group label .label-required {
    color: #E90D5F;
    display: inline-block;
    margin-right: 5px;
}

.page-get-involved form h4 {
    font-family: "Poppins-Bold";
    color: #E90D5F;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.page-get-involved form h6 {
    font-family: "Poppins-Bold";
    color: #E90D5F;
    font-size: 16px;
    letter-spacing: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.page-get-involved form h5 {
    font-family: "Poppins-Bold";
    color: #021120;
    font-size: 16px;
    letter-spacing: 0px;
    margin-bottom: 15px;
}

.form-input {
    font-family: "Poppins-Bold";
    color: #021120;
    font-size: 12px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #E90D5F;
    outline: none;
}


/* Customize the label (the container) */
.form-radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.form-radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.form-radio-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #E90D5F;
}

/* On mouse-over, add a grey background color */
.form-radio-container:hover input ~ .checkmark {
    background-color: #E90D5F;
}

/* When the radio button is checked, add a blue background */
.form-radio-container input:checked ~ .checkmark {
    background-color: #E90D5F;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.form-radio-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.form-radio-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.form-radio-container .checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.form-notes {
    font-family: "Gotham-Book";
    font-size: 16px;
    background: #E90D5F;
    color: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}


/* Customize the label (the container) */
.form-checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.form-checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.form-checkbox-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #E90D5F;
}

/* On mouse-over, add a grey background color */
.form-checkbox-container:hover input ~ .checkmark {
    background-color: #E90D5F;
}

/* When the checkbox is checked, add a blue background */
.form-checkbox-container input:checked ~ .checkmark {
    background-color: #E90D5F;
}

/* Create the checkmark/indicator (hidden when not checked) */
.form-checkbox-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.form-checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.form-checkbox-container .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.form-submit-btn {
    font-family: "Poppins-Bold";
    background: #E90D5F;
    padding: 10px 30px;
    font-size: 18px;
    border: 0px;
    color: #ffffff;
}